<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8ceecd9c16.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html'%}
<form method="post">{% csrf_token %}
    <center>
    <table border="1" class="table">
        <tr align="center">
            <th>Name</th>
            <th>Unit Cost</th>
            <th>Quantity</th>
            <th>price</th>
        </tr>
        <tr align="center">
            <td>{{n}}</td>
            <td>{{p}}</td>
            <td>{{q}}</td>
            <td>{{t}}</td>
        </tr>

    </table>
        </center>




</form>

<br><br>
<p style="text-align:center;"><a href="http://127.0.0.1:8000/user/{{username}}" >continue shoping</a></p>

</body>
</html>