<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
    nav{
        background-color:white;
        height: 150px;

    }
    .card:hover{
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);


        }
    </style>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="https://kit.fontawesome.com/8ceecd9c16.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:8000/"><img src="{% static 'images/symbol.jpg' %}" style="width:200px;height:70px;margin-left: 70px;"></a><h1 style="font-family: 'Times New Roman', Times, serif; margin-top: 20px; margin-left: -1300px;">FASHION</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>

            </button>
            <!-- off canvas -->

            <button class="btn btn-muted" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="margin-right: 50px;"><i class="fa-solid fa-user"></i> {{username}}</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel"><i class="fa-solid fa-user"></i> {{username}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <button type="button" class="btn btn-light" style="width: 350px;"><a href="http://127.0.0.1:8000/upload/{{username}}" style="margin-left:-250px;text-decoration: none;">Upload</a></button>
      <button type="button" class="btn btn-light" style="width: 350px;"><a href="http://127.0.0.1:8000/profileedit/{{username}}"  style="margin-left:-225px;text-decoration: none;">Edit Profile</a></button>
      <button type="button" class="btn btn-light" style="width: 350px;"><a href="http://127.0.0.1:8000/uploaddisplay/"  style="margin-left:-250px;text-decoration: none;">Display</a></button>
      <button type="button" class="btn btn-light" style="width: 350px;" ><a href="http://127.0.0.1:8000/login/" style="margin-left:-250px;text-decoration: none;">Log Out</a></button>

  </div>
</div>
     </div>
      </nav>


      <!-- image  -->
    <div class="container-fluid">
        <img src="{% static 'images/shop.jpg' %}" style="width: 100%; height: 500px;">
    </div>

    <!-- card   -->


    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="card bg-dark text-white" style="width: 200px; height: 200px; margin-left: 100px;">
                <a href="http://127.0.0.1:8000/upload/{{username}}"> <img src="{% static 'images/upload.jpg' %}" style="width: 198px; height:198px ;" ></a>


                </div>
              <div>
                  <h5 style=" margin-top:10px; margin-left: 160px;">UPLOAD</h5>

            </div>
          </div>
          <div class="col-4">
            <div class="card bg-dark text-dark" style="width: 200px; height: 200px; margin-left: 100px;">
                <a href="http://127.0.0.1:8000/profileedit/{{username}}"><img src="{% static 'images/edit1.jpg' %}" style="width: 198px; height:198px ;" ></a>
            </div>
              <h5 style=" margin-top:10px;margin-left: 150px;">EDIT PROFILE</h5>
          </div>
          <div class="col-4">
            <div class="card bg-dark text-white" style="width: 200px; height: 200px; margin-left: 100px;">
               <a href="http://127.0.0.1:8000/uploaddisplay/"><img src="{% static 'images/view.jpg' %}" style="width:198px; height:198px" ></a>

            </div>
              <div>
                    <h5 style=" margin-top:10px; margin-left: 160px;">DISPLAY</h5>

                </div>
          </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- socialmedia -->
<div>
    <h3 style="margin-left: 1500px;margin-bottom: 20px; font-family: 'Brush Script MT', cursive;">Social Media</h3>
    <a href="" style="margin-left:1500px;"><i class="fa-brands fa-instagram fa-2x"></i></a>
    <a href=""style="margin-left:20px;"><i class="fa-brands fa-youtube fa-2x"></i></a>
    <a href=""style="margin-left:20px;"><i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href=""style="margin-left:20px;"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <a href=""style="margin-left:20px;"><i class="fa-brands fa-linkedin fa-2x"></i></a>
  </div>
{% include 'footer.html'%}
</body>
</html>