<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
    #a{
        height: 600px;
        width: 600px;
        float:left;
        background-color: aliceblue;
        backface-visibility:initial;
        margin-top: 150px;
        margin-left: 400px;
    }
        #b{
        height: 600px;
        width: 600px;
        float: left;
        background-image:url('{% static 'images/upload1.jpg' %}');

        margin-top: 150px;
    }
    div a {
        text-decoration: none;
    }

    div a:hover{
        color:#ff70fd
    }
</style>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/8ceecd9c16.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
</head>
<body style="background-image: url('{% static 'images/add1.jpg' %}');background-repeat:unset;">
  <!-- nav bar -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:8000/"><img src="{% static 'images/bgremove.jpg' %}" style="width:200px;height:70px;margin-left: 70px;"></a><h1 style="font-family: 'Times New Roman', Times, serif; margin-top: 20px; margin-left: -1300px;">FASHION</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>

            </button>
            <!-- off canvas -->

            <button class="btn btn-muted" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="margin-right: 50px;"><i class="fa-solid fa-user"></i> {{username}}</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel"><i class="fa-solid fa-user"></i> {{username}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <button type="button" class="btn btn-light" style="width: 350px;"><a href="http://127.0.0.1:8000/shop/{{username}}" style="margin-left:-250px;text-decoration: none;">Home</a></button>
      <button type="button" class="btn btn-light" style="width: 350px;"><a href="http://127.0.0.1:8000/profileedit/{{username}}"  style="margin-left:-225px;text-decoration: none;">Edit Profile</a></button>
      <button type="button" class="btn btn-light" style="width: 350px;"><a href="http://127.0.0.1:8000/uploaddisplay/"  style="margin-left:-250px;text-decoration: none;">Display</a></button>
      <button type="button" class="btn btn-light" style="width: 350px;" ><a href="http://127.0.0.1:8000/login/" style="margin-left:-250px;text-decoration: none;">Log Out</a></button>

  </div>
</div>
     </div>
      </nav>


    <!-- form -->
    <div id="a">
        <div style="font-family: 'Times New Roman', Times, serif;text-align:center ; margin-top: 100px;" >
            <h1>UPLOAD PRODUCT</h1>
        </div>
        <br>
        <br><br>
        <form method="post" enctype="multipart/form-data" style="text-align:center;">{% csrf_token %}
            <label style="margin-left:-35px;">Product Name:</label>
            <input type="text" name="name"><br><br>
            <label style="margin-left:30px;"> Price:</label>
            <input type="number" name="price"><br><br>
            <label style="margin-left:-20px;">Description:</label>
            <input type="text" name="description" style="height: 50px;"><br><br>
            <label style="margin-left:60px;">Product Image:</label>
            <input type="file" name="image"><br><br><br><br>
            <input class="btn btn-outline-primary" type="submit" value="submit">
        </form>

    </div>
</div>

<div id="b">

</div>

</body>
</html>